<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="ionTabs" tab="inicio">
      <ion-icon class="icon" aria-hidden="true" name="home"></ion-icon>
      <ion-label>INICIO</ion-label>
    </ion-tab-button>

    <ion-tab-button class="ionTabs" tab="store">
      <ion-icon class="icon" name="logo-xbox"></ion-icon>
      <ion-label>COMPRAR</ion-label>
    </ion-tab-button>

    <ion-tab-button class="ionTabs" tab="ventas">
      <ion-icon class="icon" name="pricetag"></ion-icon>
      <ion-label>VENDER</ion-label>
    </ion-tab-button>

    <ion-tab-button class="ionTabs" tab="carrito">
      <ion-icon class="icon" name="cart"></ion-icon>
      <ion-label>CARRITO</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
